
body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h1 {
  margin-top: 1em;
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
}

h3 {
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
}

.first-box-container {
  width: 180px;
  height: 110px;
  padding: 30px 5px 5px;
  background-color: red;
  border-style: solid;
  border-color: green;
  border-width: 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}

.second-box-container { 
  width: 180px;
  height: 110px;
  padding: 30px 5px 5px;
  background-color: yellow;
  border-style: solid;
  border-color: red;
  border-width: 10px;
  position: absolute;
  left: 250px;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}

.third-box-container { 
  width: 180px;
  height: 110px;
  padding: 30px 5px 5px;
  background-color: green;
  border-style: solid;
  border-color: yellow;
  border-width: 10px;
  position: absolute;
  left: 500px;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}
